@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html lang="tr">
<body class="size-1520 primary-color-red background-dark">
    <!-- MAIN -->
    <main role="main">
        <!-- TOP SECTION -->
        <header class="grid">
            <div class="s-12 padding-2x">
                <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">Hakkımızda</h1>
                <p class="text-size-20 text-white text-center center">
                    Kurumumuzun ilk ve en önemli eğitim ilkesi
                    Atatürk İlke ve İnkılaplarına bağlı olmaktır.
                </p>
            </div>
        </header>


        <!-- SECTION 1 -->
        <section class="grid">
            <div class="m-12 l-6 padding-2x background-white">
                <h2 class="text-dark">Önceliğimiz Öğrencilerimiz</h2>
                <p>Öğrencilerimize davranışlarının sorumluluklarını üstlenmeyi ve kendi öğrenmelerine ilişkin plan yapmayı öğreten, velileri de okul yaşamına katarak kendini yaşam boyu öğrenmeye adayan; sorumluluk bilinci yüksek, üretken, sosyal, hoşgörü sahibi, manevi ve etik değerlere saygılı, yapıcı ve yaratıcı, kendini tanıyan ve ifade edebilen; ana diline hakim, Türkçenin korunması ve geliştirilmesini destekleyen, yabancı dilde etkin, düşünme becerileri gelişmiş, çevreye duyarlı, hayat boyu öğrenen, sanatı ve sporu yaşamlarının bir parçası haline getiren geleceğin aydın kişiliklerini yetiştirmek temel hedeflerimizdendir.<br><br></p>
                <h2 class="text-dark">Hedefimiz</h2>
                <p>Öğrenim hedefimizin ilk ve en önemli ilkesi “akademik başarı’’yı kalıpların dışında bireysel farklılıklara dokunarak yakalamaktır. Öğrencilerimize sadece bilgi vermeyi değil , öğrencilerin edindiği bilgiyi kavrayıp yaşamda kullanan öğrenmeyi öğrenen’’ analiz ve sentez yapan geleceğin ışıklarını yetiştirmektir.<p>
            </div>

            <!-- Image-->
            <img class="l-6 hide-s hide-m" src="~/user/plugins/img/img-01.jpg">
        </section>

        <!-- SECTION 2 -->
        <section class="grid margin margin-bottom padding-2x background-primary">
            <div class="s-12 m-6 l-3">
                <span class="timer text-size-50 text-white text-strong">15+</span>
                <h3 class="text-uppercase text-strong">Kurum Sayısı</h3>
                <p class="text-size-16 margin-m-bottom-20">Her ilde bulundurmayı hedeflediğimiz kurumumuz hedefine ödün vermeden devam etmektedir. </p>
            </div>

            <div class="s-12 m-6 l-3">
                <span class="timer text-size-50 text-white text-strong">85+</span> <span class="text-size-50 text-white text-strong">%</span>
                <h3 class="text-uppercase text-strong">Akademik ve Sosyal Bilimler Başarısı</h3>
                <p class="text-size-16 margin-m-bottom-20">Kurumlarımız her öğrencimizi özel olarak değerlendirir ve ilgi alanlarına ve akademik başarıya yönlendirmeye gayret gösterir.</p>
            </div>

            <div class="s-12 m-6 l-3">
                <span class="timer text-size-50 text-white text-strong">600+</span>
                <h3 class="text-uppercase text-strong">Öğretmen Sayısı</h3>
                <p class="text-size-16 margin-m-bottom-20">Geleceğimiz olan öğrenciler emin ellere emanettir.</p>
            </div>

            <div class="s-12 m-6 l-3">
                <span class="timer text-size-50 text-white text-strong">10.000+</span>
                <h3 class="text-uppercase text-strong">Öğrenci Sayısı</h3>
                <p class="text-size-16 margin-m-bottom-20">Her öğrenci bizim için geleceğe yön tutan bir meşaledir.</p>
            </div>
        </section>

        <!-- SECTION 3 -->
        <section class="grid margin">
            <h2 class="s-12 text-white text-thin text-size-30 text-white text-uppercase margin-top-bottom-20 center text-center">Çorum Özel Okulu <b>Yönetim KurulU</b></h2>
            <div class="row justify-content-center"></div>
            <div class="s-12 m-6 l-2 margin-bottom">
                <img src="~/user/plugins/img/team-02.jpg" />
                <h4 class="background-primary padding text-strong">Sevinç Uzeli</h4>
                <p class="margin-bottom-10 text-primary text-uppercase">Kurucu</p>
            </div>
            <div class="s-12 m-6 l-2 margin-bottom">
                <img src="~/user/plugins/img/team-04.jpg" />
                <h4 class="background-primary padding text-strong">Metin Baş</h4>
                <p class="margin-bottom-10 text-primary text-uppercase">Kurucu Ortağı</p>
            </div>
            <div class="s-12 m-6 l-2 margin-bottom">
                <img src="~/user/plugins/img/team-05.jpg" />
                <h4 class="background-primary padding text-strong">Kardelen Büyük</h4>
                <p class="margin-bottom-10 text-primary text-uppercase">Kurucu Ortağı</p>
            </div>
            <div class="s-12 m-6 l-2 margin-bottom">
                <img src="~/user/plugins/img/team-01.jpg" />
                <h4 class="background-primary padding text-strong">Nurullah Çiçek</h4>
                <p class="margin-bottom-10 text-primary text-uppercase">Müdür</p>
            </div>
            <div class="s-12 m-6 l-2 margin-bottom">
                <img src="~/user/plugins/img/team-03.jpg" />
                <h4 class="background-primary padding text-strong">Yasin Gündüz</h4>
                <p class="margin-bottom-10 text-primary text-uppercase">Müdür Yardımcısı</p>
            </div> 
        </section>

    </main>

</body>
</html>