@{
    ViewData["Title"] = "Contact Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">

 <body class="size-1520 primary-color-red background-dark">
      <!-- MAIN -->
      <main role="main">
        <!-- TOP SECTION -->
        <header class="grid">
            <div class="s-12 padding-2x">
            <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">İletişim</h1>
          </div>
        </header>

        <!-- SECTION 1 -->
        <section class="grid margin-bottom-20">
          <div class="m-12 l-7 center">
            <!-- Contact Information-->
            <div class="s-12 padding-2x background-white text-center">                  
              <h2 class="text-size-20 margin-bottom-10 text-strong text-uppercase text-dark">Özel Çorum Koleji Adresimiz</h2>                
              <p>Üçtutlar Mah. İnönü Cad.</p>
              <p>Çorum/Merkez, Türkiye</p>             

              <h2 class="text-size-20 margin-top-30 margin-bottom-10 text-strong text-uppercase text-dark">E-mail</h2>
                    <p><a class="text-primary-hover" href="mailto:contact@sampledomain.com">corumozelokulu@iletisim.com</a></p>
                    <p><a class="text-primary-hover" href="mailto:office@sampledomain.com">corumozelokulu@kurumsal.com</a></p>

                    <h2 class="text-size-20 margin-top-30 margin-bottom-10 text-strong text-uppercase text-dark">Phone Numbers</h2>                
              <p>0800 4521 800 50</p>
              <p>0450 5896 625 16</p>
              <p>0798 6546 465 </p>               
            </div>

                <iframe class="s-12 center" src=" https://www.google.com/maps/embed/v1/place?q=Gülabibey,+İnönü+Caddesi,+Çorum+Merkez/Çorum,+Türkiye&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>                  

        </section>
      </main>
   </body>
</html>