@{
    ViewData["Title"] = "Gallery Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">

   <body class="size-1520 primary-color-red background-dark">

      <!-- MAIN -->
      <main role="main">
        <!-- TOP SECTION -->
        <header class="grid">
        	<div class="s-12 padding-2x">
            <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">Okulumuzdan Bazı Kareler</h1>
            <p class="text-size-20 text-white text-center center">Okulumuzun mimarisini daha iyi anlamanız adına çekilmiş fotoğraflar</p>
          </div>
        </header>
      
        <section class="grid margin">
          <img class="s-12 m-6 margin-bottom" src="~/user/plugins/img/portfolio/thumb-01.jpg" alt=""/>
          <img class="s-12 m-6 margin-bottom" src="~/user/plugins/img/portfolio/thumb-02.jpg" alt=""/>
          <img class="s-12 m-6 margin-bottom" src="~/user/plugins/img/portfolio/thumb-03.jpg" alt=""/>
          <img class="s-12 m-6 margin-bottom" src="~/user/plugins/img/portfolio/thumb-04.jpg" alt=""/>
          <img class="s-12 m-6 margin-bottom" src="~/user/plugins/img/portfolio/thumb-05.jpg" alt=""/>
          <img class="s-12 m-6 margin-bottom" src="~/user/plugins/img/portfolio/thumb-06.jpg" alt=""/>
          <img class="s-12 m-6 margin-bottom" src="~/user/plugins/img/portfolio/thumb-07.jpg" alt=""/>
          <img class="s-12 m-6 margin-bottom" src="~/user/plugins/img/portfolio/thumb-08.jpg" alt=""/>
        </section>
      </main>                                                            
   </body>
</html>