@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">

   <body class="size-1520 primary-color-red background-dark">

      <!-- MAIN -->
      <main role="main">
        <!-- TOP SECTION -->
        <header class="grid">
        	<div class="s-12 padding-2x">
            <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">Okulumuzdaki Hizmetler</h1>
                <p class="text-size-20 text-white text-center center">Gerçekleştirdiğimiz sosyal ve kültürel etkinliklerle öğrencilerimizin bilişsel, duygusal ve psikomotor  becerilerini  geliştiriyoruz.</p>
          </div>
        </header>
  
        
        <!-- SECTION 1 -->
        <section class="grid">
          <div class="m-12 l-6 padding-2x background-white">
            <p class="text-strong text-size-80 text-red">01</p>
            
            <h2 class="text-size-50 text-line-height-1 text-dark"><b>Yaptıklarımız</b></h2>
                <p>
                <p>18-20 Kişilik Homojen Sınıflar</p>
                <p>Okulumuzda sınıflar, öğrencilerimizin girmiş oldukları deneme sınav ortalamaları ve göstermiş oldukları başarı performanslarına göre belirlenir.</p>
                <p>Oluşan seviye grupları bire bir ilginin ve takviyenin gerçekleşmesini sağlar.</p>
                <p>Okulumuzda uygulanan Bire bir Etüt Sistemi ile öğrencilerimize ücretsiz özel ders kalitesinde eğitim imkanı sunulur.</p>
                <p>Okulumuzda öğrencilerimizi MEB LİSE programına ek olarak (OKUL+KURS) programı ile yetiştiriyor ve en iyi üniversitelere taşıyoruz.</p>
                </p>
          </div>
          
          <!-- Image-->
          <img class="m-12 l-6" src="~/user/plugins/img/img-06.jpg">
        </section>
        
        <!-- SECTION 2 -->
        <section class="grid">
          <!-- Image-->
          <img class="m-12 l-6" src="~/user/plugins/img/img-01.jpg">
          
          <div class="m-12 l-6 padding-2x background-dark">
            <p class="text-strong text-size-80 text-red">02</p>
            
            <h2 class="text-size-50 text-line-height-1 margin-bottom-30 text-white"><b>Bir çok öğrenciyi yetiştirmiş olan deneyimli eğitim kadromuz</b></h2>
                <p>Öğretmenler, toplumun şekillenmesinde ve geleceğin inşasında kritik bir rol oynarlar. Bilgi ve deneyimleriyle öğrencilere rehberlik eder, onların potansiyellerini keşfetmelerine yardımcı olurlar. Özverili çalışmaları ve sabırları sayesinde öğrenciler sadece dersleri değil, aynı zamanda yaşamın önemli derslerini de öğrenirler. Öğretmenler, geleceği aydınlatan kahramanlardır.</p>
          </div>
        </section> 
        
        <!-- SECTION 3 -->
        <section class="grid">
          <div class="m-12 l-6 padding-2x background-aqua">
            <p class="text-strong text-size-80 text-white">03</p>
            
            <h2 class="text-size-50 text-line-height-1 text-white"><b>Proje, planlama ve uygulama</b></h2>
                <p>Öğrenci projeleri, öğrencilerimizin öğrenmelerini derinleştirdiği, kendi ilgi alanlarını keşfettikleri ve gerçek dünya problemlerine çözümler ürettikleri alanlardır. Bu projeler, sadece sınıf içi öğrenmenin ötesine geçer, aynı zamanda öğrencilere takım çalışması, problem çözme ve iletişim gibi becerileri pratiğe dökme fırsatı sunar. </p>
          </div>
          
          <!-- Image-->
          <img class="m-12 l-6" src="~/user/plugins/img/img-05.jpg">
        </section> 
        
        <!-- SECTION 6 -->
        <section class="grid margin-bottom">
          <div class="s-12 padding-2x background-dark">
            <a href="/Home/Contact" class="s-12 m-9 l-3 center button text-size-20 text-white background-red">CONTACT US</a>
          </div>
        </section>      
      </main>
   </body>
</html>